{% extends "header.html" %}
{% block body %}
<body>
<link href="http://s3.amazonaws.com/codecademy-content/courses/ltp2/css/bootstrap.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link href="/static/postit.css" rel='stylesheet'>


<div class="container">
	
	<form method="post" action="/post/">
		<div class="form-group">
			<dl>
			<input type="text" name="username" value="{{ request.form.username }}" placeholder="Username">
			<input type="password" name="password" value="{{ request.form.password }}" placeholder="Password">		
			<textarea type="text" name="post" class="form-control status-box" rows="3" placeholder="What's on your mind?">{{ request.form.post }}</textarea>
			</dl>
		</div>

		{% if error %}
		<p class="error"><strong>Error:</strong>{{error}}</p>
		{% endif %}
		<div class="button-group pull-right">
			<p class="counter">1000</p>
			<p><input type=submit value=Post class="btn btn-default"></p>
			<!--<a href="#" class="btn btn-danger">Remove</a>-->
		</div>
	</form>
      	<div class="list-group">
      <ul class="posts">
      	{% for post in posts %}
      	<li><p class="list-group-item-heading">{{ post.username }}</p>
      		<p class="list-group-item-text">{{ post.text }}</p>

      		{% else %}
      	<li><p class="list-group-item-text">There are no posts so far.</p>
      	{% endfor %}
      </div>


      </ul>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/static/app.js"></script>
    

</body>

{% endblock %}